/* lg */
/* md */
/* sm */
/* xs */
@media (max-width: 767px) {
  /* line 23, sass/responsive.scss */
  #header-top-mobile #logo-mobile {
    margin-top: 10px;
  }
  /* line 26, sass/responsive.scss */
  #header-top-mobile #shopping-bag {
    position: relative;
  }
  /* line 28, sass/responsive.scss */
  #header-top-mobile #shopping-bag a {
    position: absolute;
    display: block;
    text-indent: -9999px;
    width: 26px;
    height: 24px;
    background-image: url('../images/icon-shopping-bag.png?1428306551');
    background-repeat: no-repeat;
    margin-top: 10px;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi) {
  /* line 28, sass/responsive.scss */
  #header-top-mobile #shopping-bag a {
    background-image: url('../images/icon-shopping-bag@2x.png?1428306551');
    -moz-background-size: 26px 24px;
    -o-background-size: 26px 24px;
    -webkit-background-size: 26px 24px;
    background-size: 26px 24px;
  }
}
@media (max-width: 767px) {
  /* line 38, sass/responsive.scss */
  #header-top-mobile #shopping-bag span {
    position: absolute;
    background-color: #3e8893;
    top: 10px;
    left: 5px;
    border-radius: 10px;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: 700;
  }

  /* line 53, sass/responsive.scss */
  .navbar-toggle {
    margin-right: 0px;
  }

  /* line 57, sass/responsive.scss */
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  /* line 61, sass/responsive.scss */
  .mainmenu {
    text-align: center;
  }

  /* line 65, sass/responsive.scss */
  .mainmenu ul li {
    padding-right: 0;
    padding-left: 0;
  }

  /* line 71, sass/responsive.scss */
  #logo {
    text-align: center;
  }

  /* line 75, sass/responsive.scss */
  #swiper .container {
    padding: 0;
  }
  /* line 77, sass/responsive.scss */
  #swiper .container .row {
    margin: 0;
    padding: 0;
  }
  /* line 80, sass/responsive.scss */
  #swiper .container .row .col-sm-12 {
    margin: 0;
    padding: 0;
  }

  /* line 88, sass/responsive.scss */
  .swiper-products-container {
    width: 330px;
    overflow: hidden;
  }

  /* line 93, sass/responsive.scss */
  ul.sub-menu {
    position: relative;
    width: 100%;
    top: 0px;
  }

  /* line 99, sass/responsive.scss */
  #services {
    padding-bottom: 20px;
  }
  /* line 101, sass/responsive.scss */
  #services a {
    margin-bottom: 20px;
  }

  /* line 106, sass/responsive.scss */
  #contact {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* line 111, sass/responsive.scss */
  #newsletter {
    text-align: center;
  }

  /* line 115, sass/responsive.scss */
  #customer-support {
    text-align: center;
  }
  /* line 118, sass/responsive.scss */
  #customer-support p i {
    display: none;
  }
  /* line 121, sass/responsive.scss */
  #customer-support p span.phone {
    font-size: 36px;
  }

  /* line 127, sass/responsive.scss */
  #share {
    margin-top: 20px;
  }

  /* line 131, sass/responsive.scss */
  #seo {
    margin-bottom: 0;
  }
  /* line 133, sass/responsive.scss */
  #seo .container {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 139, sass/responsive.scss */
  .col-sm-15 {
    padding-left: 0;
    padding-right: 0;
  }
}
/* XS Portrait */
