
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300italic,400italic);

@import "compass";
@import "_compass-hdpi";

@mixin smooth {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  @include smooth;

}

ul li {
  list-style: none;
}

a:hover {
  outline: none;
  text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.btn:hover,
.btn:focus{
  outline: none;
  box-shadow: none;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #333333;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}

.discover {
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 10px 60px;
  border-radius: 0;
}

.discover:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}


/*************************
*******Header CSS******
**************************/

.header-top {
  background: none repeat scroll 0 0 #171717;
  padding-top: 5px;
}

.contactinfo ul li:first-child{
  margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.contactinfo ul li  a span {
  color: #35717a;
}


.contactinfo ul li a:hover{
	background:inherit;
}

.user-info ul li a {
  font-size: 13px;
  color: #fff;
  border: 0 none;
  border-radius: 0;
  padding: 10px 15px;
  text-transform: uppercase;
}

.user-info ul li a:hover{
  background: none;
}

.user-info ul li a i:hover{
  color: #fff;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.user-info {
  .nav li:hover > ul.sub-menu{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }
  ul.sub-menu {
    position: absolute;
    top: 40px;
    left: -100px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 330px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
  }

  ul.account {
    background-color: #3e8893;
    padding: 20px;
    ul {
      margin: 0;
      padding: 0;
      li a {
        text-transform: none;
        &:hover {
          text-decoration: underline;
        }
        i {
          font-size: 8px;
          margin-right: 5px;
        }
      }
    }
    .logout {
      margin-top: 20px;
      font-style: italic;
    }
  }

  ul.cart {
    background: rgba(255, 255, 255, 1);
  }

  ul.cart li{
    margin-bottom: 0;
    padding: 5px 5px;
    &.row {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      &.total {
        padding: 20px 0;
      }
    }
    &.product {
      padding: 10px 0;
      border-bottom: 1px solid #cbcbcb;
      &:hover {
      background-color: #f2f2f2;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }

    span {
      display: block;
      &.product-brand {
        text-transform: uppercase;
      }
      &.total {
        text-transform: uppercase;
        font-weight: 700;
      }
      &.total-price {
        color: #3e8893;
        font-weight: 700;
      }
    }
    a.delete {
      color: #2a2a2a;
    }

    &:last-child {
      background-color: #000;
      a {
        color: #fff;
        vertical-align: middle;
        line-height: 40px;
      }
    }
  }
}

.header-middle .container .row {
  border: 1px solid #3e8893;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header-middle {
  a {
    color: #3e8893;
    text-transform: uppercase;
    display: inline-block;
    line-height: 21px;
    padding-left: 25px;

    &.money-back {
      @include background-image-hdpi("icon-heart.png", "icon-heart@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    &.delivery {
      @include background-image-hdpi("icon-delivery.png", "icon-delivery@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    &.star {
      @include background-image-hdpi("icon-star.png", "icon-star@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
  }
}

.header-bottom {
  margin-bottom: 40px;
}

.search-box {
  width: 100%;
  input {
    background: #f2f2f2;
    border: medium none;
    color: #8b8a8a;
    font-family: 'Lato';
    font-size: 16px;
    width: inherit;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    background-image: url(../images/searchicon.png);
    background-repeat: no-repeat;
    background-position: 20px;
    padding-left: 38px;
    text-decoration: italic;
    @include input-placeholder {
      font-style: italic;
      font-weight: 300;
    }
  }
}

.mainmenu {
  .nav.navbar-nav > li:hover > ul.sub-menu{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  ul.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
  }

  .dropdown ul.sub-menu li .active{
    color: #3e8893;
    padding-left: 0;
  }


  .navbar-nav li ul.sub-menu li{
    padding: 10px 20px 0 ;
  }

  .navbar-nav li ul.sub-menu li:last-child{
    padding-bottom: 20px;
  }

  .navbar-nav li ul.sub-menu li a{
    color: #fff;
  }

  .navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E;
  }

  .fa-angle-down{
    padding-left: 5px;
  }
}

.mainmenu ul li{
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
  background:none;
  color:#3e8893;
}

/*  Dropdown menu*/

// .navbar-header
// .navbar-toggle .icon-bar {
//   background-color: #fff;
// }




@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.shops-link {
  font-size: 16px;
  text-transform: uppercase;
  color: #727272;
  &:hover {
    color: #3e8893;
  }
  i {
    color: #3e8893;
  }
}

/*************************
*******Footer CSS******
**************************/

#footer {
  background: #efefef;
}

#contact {
  div.card {
    min-height: 160px;
    // height: 160px;
  }
  padding: 20px 0;
  h1 {
    margin-top: 15px;
  }
  i{
    vertical-align: middle;
  }
  #newsletter {
    background-color: #3e8893;
    color: #fff;
    h1 {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      i.mail {
        display: inline-block;
        width: 26px;
        height: 18px;
        @include background-image-hdpi("icon-mail.png", "icon-mail@2x.png");
        margin-right: 10px;
      }
    }
    form {
      border-bottom: 1px solid #fff;
      height: 30px;
    }
    input[type=email] {
      color: #fff;
      width: 100%;
      background: none;
      border-radius: 0;
      border: none;
      margin: 0;
      @include box-shadow(none);
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 12px;
      @include input-placeholder {
        color: #fff;
        font-style: italic;
      }
    }
    button {
      width: 100%;
      background: none;
      border: none;
      color: #fff;
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      text-transform: uppercase;
      font-weight: 700;
    }
    .col-sm-2 {
      padding-left: 0;
    }
  }
  #customer-support {
    background-color: #fff;
    h1 {
      background-repeat: no-repeat;
      color: #333333;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      i.adviser {
        display: inline-block;
        width: 21px;
        height: 24px;
        @include background-image-hdpi("icon-adviser.png", "icon-adviser@2x.png");
        margin-right: 10px;
      }
    }
    p {
      color: #585656;
      span.phone {
        font-weight: 700;
        color: #3e8893;
      }
    }
  }
  #advice {
    background-color: #fff;
    h1 {
      color: #333333;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
    }
    ul {
      padding: 0;
      margin: 0;
      a {
        color: #585656;
      }
    }

  }
}

#seo {
  border-top: 1px solid #fff;
  margin-bottom: 20px;
}

.single-widget h2 {
  color: #3e8893;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget ul li {
  line-height: 14px;
}

.single-widget ul li a{
  line-height: 14px;
  color: #8C8C88;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}

.single-widget ul li a:hover{
	background:none;
	color:#3e8893;
}

#share {
  li {
    display: inline-block;
  }
  a {
    font-size: 20px;
    background-color: #3e8893;
    color: #fff;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    &:hover {
      background-color: #333333;
    }
    i {
      line-height: 30px;
    }
  }
}

#services-list {
  padding: 0;
  margin: 20px 0 0 0;
  font-size: 28px;
  text-transform: uppercase;
  li {
    &:first-child {
      border-top: 1px solid #fff;
    }
    border-bottom: 1px solid #fff;
    padding: 20px;
    a {
      color: #585656;
    }
  }
}

#copyright {
  background: #000000;
  padding: 10px 0;
  color: #fff;
  span {
    margin-left: 20px;
  }
}


/*************************
******* Home ******
**************************/


#swiper {
  margin-bottom: 10px;
}



.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

article {
  position: relative;
}

article header {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #fff;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */




  h1, h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
  }
  h1 {
    font-weight: 700;
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
    font-weight: 400;
  }
  .discover {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
article img {
  width: 100%;
  max-width: 100%;
}

.item {
  position: relative;
  .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

#articles {
  margin-bottom: 20px;
  .col-sm-6:first-child {
    padding-right: 0;
  }
  article {
    min-height: 270px;
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 14px;
    }
  }
}

#brands {
}

.section-title {
  h1 {
    font-size: 28px;
    font-weight: 700;
    color: #302e31;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #302e31;
    text-align: center;
  }
}

#featured-products, #promotions {
  .col-sm-3 {
    margin-bottom: 10px;
  }
  .swiper-products-pagination {
    text-align:center;
    .swiper-pagination-bullet {
     background: #fff;
     border: 1px solid #3e8893;
     margin-right: 2px;
   }
   .swiper-pagination-bullet-active {
    background: #3e8893;
    opacity: 1;
  }
}
}

.product {
  text-align: center;
  .wrapper-image {
    position: relative;
    img {
      max-width: 230px;
    }
    .overlay {
      position:absolute;
      bottom:0;
      border: 1px solid #000;
      background-color:rgba(0,0,0,0.50);
      width:100%;
      min-height: 300px;
      display: none;
      z-index: 999;
      span {
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ul {
        li {
          display: inline-block;
          background-color: #fff;
          font-weight: 700;
          color: #000;
          margin-bottom: 5px;
          margin-right: 5px;
          text-transform: uppercase;
          padding: 10px 20px;
        }
      }
      .actions {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
         border-top: 1px solid #000;
         padding: 10px 0;
         a {
        color: #302e31;
        text-transform: uppercase;
        font-weight: 700;
      }
      }

    }
    &:hover {
      .overlay {
        display: block;
        -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
      }
    }
  }

  .brand {
    display: inline-block;
    margin-top: 20px;
    text-indent: -9999px;
    overflow: hidden;
    &.redskins {
      width: 160px;
      height: 24px;
      @include background-image-hdpi("brand_redskins.png", "brand_redskins.png");
    }
    &.redskins {
      width: 160px;
      height: 24px;
      @include background-image-hdpi("brand_redskins.png", "brand_redskins.png");
    }
  }
  .price {
    font-size: 16px;
    font-weight: 700;
    &.crossed {
      color: #ff0000;
      span {
        text-decoration: line-through;
        color: #949494;
        padding-right: 5px;
      }
    }
  }
  span.tag {
    display: inline-block;
    color: #221a32;
    border: 1px solid #e1e1e1;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    min-width: 100px;
    &.sales {
      border: 1px solid #ff0000;
      color: #ff0000;
    }
  }
}

.more-articles {
  a {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: #302e31;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    vertical-align: middle;
    margin-top: 150px;
  }
}

.lazy {
  display: none;
}

#news {
  background-color: #f2f2f2;
  padding: 20px 0;
  article {
    background-color: #333333;
    min-height: 267px;
    header {
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 16px;
      }
      .discover {
        margin-bottom: 20px;
      }
    }
    &.newsweek {
      header {
        background: none;
        h1 {
          font-size: 24px;
        }
        hr {
          width: 10%;
        }
        p {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

#services {
  background-color: #f2f2f2;
  padding: 20px;
  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #585656;
    text-transform: uppercase;
    padding-top: 60px;
    &.delivery {
      @include background-image-hdpi("icon-delivery-black.png", "icon-delivery-black@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;

    }
    &.moneyback {
      @include background-image-hdpi("icon-money-back.png", "icon-money-back@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.payment-facility {
      @include background-image-hdpi("icon-payment-facility.png", "icon-payment-facility@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.secure-payment {
      @include background-image-hdpi("icon-secure-black.png", "icon-secure-black@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.satisfy {
      @include background-image-hdpi("icon-satisfy-black.png", "icon-satisfy-black@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    span {
      text-transform: none;
      font-weight: 400;
      font-style: italic;
    }
  }
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}






