
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300italic,400italic);

@import "compass";
@import "_compass-hdpi";

@mixin smooth {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', sans-serif;
  @include smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

a {
    background-color: rgba(0,0,0,0) !important;
    text-decoration: none !important;
  }


ul li {
  list-style: none;
}

a:hover {
  outline: none;
  text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

.container {
  position: relative;
}

.btn:hover,
.btn:focus{
  outline: none;
  box-shadow: none;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #333333 !important;
  color: #FFF;
}

a#scrollUp i{
  font-size: 30px;
}

.discover {
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 10px 60px;
  border-radius: 0;
}

.discover:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.lazy {
  display: none;
}

.header-top {
  background: none repeat scroll 0 0 #171717;
  a {
    padding-top: 5px  !important;
    padding-bottom: 5px  !important;
  }
  .need-help {
    margin-left: 10px;
    @include background-image-hdpi("icon-tel.png", "icon-tel@2x.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    span {
      color: #fff;
    }
    a {
      font-weight: 700;
      color: #3e8893;
      margin-left: 5px;
    }
  }
  .user-info {
    ul
    {
      li {
        position: initial;
        a {
          font-size: 13px;
          color: #fff;
          border: 0 none;
          border-radius: 0;
          text-transform: uppercase;
          &:hover {
            background-color: #000;
          }
          &.shopping-bag-link {
            @include background-image-hdpi("icon-shopping-bag.png", "icon-shopping-bag@2x.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
            padding-left: 30px ! important;
          }
        }
        ul.sub-menu {
          position: absolute;
          top: 30px;
          right: 15px;
          list-style: none;
          padding: 0;
          margin: 0;
          width: 330px;
          -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
          display: none;
          z-index: 999;
          &.account {
            background-color: #3e8893;
            padding: 20px;
            ul {
              margin: 0;
              padding: 0;
              li a {
                text-transform: none;
                &:hover {
                  background-color: rgba(0,0,0,0);
                  text-decoration: underline;
                }
                i {
                  font-size: 8px;
                  margin-right: 5px;
                }
              }
            }
            .logout {
              margin-top: 20px;
              font-style: italic;
            }
          }
          &.cart {
            background: rgba(255, 255, 255, 1);
            li {
              margin-bottom: 0;
              padding: 5px 5px;
              &.row {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
                &.total {
                  font-size: 18px;
                  padding: 20px 0;
                }
              }
              &.product {
                padding: 10px 0;
                border-bottom: 1px solid #cbcbcb;
                &:hover {
                  background-color: #f2f2f2;
                }
                img {
                  max-width: 55px;
                  height: auto;
                }
              }

              span {
                display: block;
                &.product-brand {
                  text-transform: uppercase;
                }
                &.product-price {
                  font-weight: 700;
                  color: #3e8893;
                }
                &.total {
                  text-transform: uppercase;
                  font-weight: 700;
                }
                &.total-price {
                  font-size: 18px;
                  color: #3e8893;
                  font-weight: 700;
                }
              }
              a.delete {
                color: #2a2a2a;
              }

              &:last-child {
                background-color: #000;
                a {
                  font-size: 18px;
                  color: #fff;
                  vertical-align: middle;
                  line-height: 40px;
                }
              }
            }
          }
        }
        &:hover {
          .sub-menu {
            display: block;
            -webkit-animation: fadeInUp 400ms;
            -moz-animation: fadeInUp 400ms;
            -ms-animation: fadeInUp 400ms;
            -o-animation: fadeInUp 400ms;
            animation: fadeInUp 400ms;
          }
        }
      }
    }
  }
}

.banner-info {
  .container
  {
    .row {
      border: 1px solid #3e8893;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
      margin-left: 0;
      margin-right: 0;
      [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
        a {
          color: #3e8893;
          text-transform: uppercase;
          display: inline-block;
          line-height: 21px;
          span {
              font-style: italic;
              text-transform: none;
            }

          &.money-back {
            padding-left: 25px;
            @include background-image-hdpi("icon-heart.png", "icon-heart@2x.png");
            background-repeat: no-repeat;
            background-position: 0 50%;

          }

          &.delivery {
            padding-left: 30px;
            @include background-image-hdpi("icon-delivery.png", "icon-delivery@2x.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
          }

          &.star {
            padding-left: 25px;
            @include background-image-hdpi("icon-star.png", "icon-star@2x.png");
            background-repeat: no-repeat;
            background-position: 0 50%;
          }
        }
      }
    }
  }
}

header .logo {
  a {
    margin-left: 10px;
  }
}

header .search-box {
  margin-top: 20px;
  width: 100%;
  background: #f2f2f2;
  input {
    border: medium none;
    color: #8b8a8a;
    font-family: 'Lato';
    font-size: 16px;
    height: 35px;
    outline: medium none;
    background: rgba(0,0,0,0);
    @include background-image-hdpi("icon-search.png", "icon-search@2x.png");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 50px;
    font-style: italic;
    font-weight: 300;
    @include input-placeholder {
      font-style: italic;
      font-weight: 300;
    }
  }
  button {
    background: rgba(0,0,0,0);
    margin-top: 1px;
    margin-right: 5px;
    height: 35px;
    outline: medium none;
  }
}

.desktop-menu {
  .sub-menu {
    display: none;
    position: absolute;
    z-index: 999999;
  }
}

.desktop-menu .categories > li.dropdown {
  position: inherit;
}

.desktop-menu .categories li.dropdown {
  &.active {
    > a {
      background: rgba(0,0,0,0);
      color: #3e8893;
    }
  }
  > a {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    overflow: hidden;
    margin-left: 16px;
    background: #fff;
    width: 1140px;
    text-align: center;
    > ul {
      padding-left: 0;
      background: #000;
      > li {
        > a {
          color: #fff;
          line-height: 60px;
          text-transform: uppercase;
          display: block;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 0 50%;
          &.blousons {
            @include background-image-hdpi("icon-blousons.png", "icon-blousons@2x.png");
            padding-left: 30px;
          }
          &.blousons-femme {
            @include background-image-hdpi("icon-blousons-femme.png", "icon-blousons-femme@2x.png");
            padding-left: 30px;
          }
          &.vestes {
            @include background-image-hdpi("icon-vestes.png", "icon-vestes@2x.png");
          }
          &.vestes-femme {
            @include background-image-hdpi("icon-vestes-femme.png", "icon-vestes-femme@2x.png");
          }
          &.pantalons {
            @include background-image-hdpi("icon-pantalons.png", "icon-pantalons@2x.png");
          }
          &.chaussures {
            @include background-image-hdpi("icon-chaussures.png", "icon-chaussures@2x.png");
            padding-left: 35px;
          }
          &.accessoires {
            @include background-image-hdpi("icon-accessoires.png", "icon-accessoires@2x.png");
            padding-left: 35px;
          }
          &.textiles {
            @include background-image-hdpi("icon-textiles.png", "icon-textiles@2x.png");
          }
          &.active {
            color: #3e8893;
            &.blousons {
              @include background-image-hdpi("icon-blousons-hover.png", "icon-blousons-hover@2x.png");
            }
            &.blousons-femme {
              @include background-image-hdpi("icon-blousons-femme-hover.png", "icon-blousons-femme-hover@2x.png");
              padding-left: 30px;
            }
            &.vestes {
              @include background-image-hdpi("icon-vestes-hover.png", "icon-vestes-hover@2x.png");
            }
            &.vestes-femme {
              @include background-image-hdpi("icon-vestes-femme-hover.png", "icon-vestes-femme-hover@2x.png");
            }
            &.pantalons {
              @include background-image-hdpi("icon-pantalons-hover.png", "icon-pantalons-hover@2x.png");
            }
            &.chaussures {
            @include background-image-hdpi("icon-chaussures-hover.png", "icon-chaussures-hover@2x.png");
            }
            &.accessoires {
            @include background-image-hdpi("icon-accessoires-hover.png", "icon-accessoires-hover@2x.png");
            }
            &.textiles {
            @include background-image-hdpi("icon-textiles-hover.png", "icon-textiles-hover@2x.png");
          }
          }
        }
      }
    }
    .content {
      display: none;
      &.active {
        display: block;
      }
      &.default {
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
        p {
          font-size: 16px;
          text-transform: uppercase;
          &.up {
            font-size: 24px;
          }
          span {
            font-style: italic;
            text-transform: none;
          }
          a {
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            background-color: rgba(0, 0, 0, 0);
            background: rgba(0, 0, 0, 0);
            color: #302e31;
            text-transform: uppercase;
            border: 1px solid #e1e1e1;
            border-radius: 0;
            vertical-align: middle;
            padding: 10px 40px !important;
          }
        }
      }
      text-align: left;
      .columns {
        min-height: 300px;
        padding-left: 15px;
        overflow: hidden;
         [class^="col-"] {
            margin-bottom: -9999px;
            padding-bottom: 9999px;
         }
         .border {
          border-left: 1px solid #e1e1e1;
         }
        h2 {
          font-size: 14px;
          font-weight: 700;
          color: #3e8893;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        ul {
          padding-left: 0;
          padding-top: 10px;
          li {
            line-height: 30px;
          }
        }
        ul li a {
          color: #000;
          background-repeat: no-repeat;
          background-position: 0 50%;
          &.icon {
            display: block;
            line-height: 45px;
          }
          &.aviateur {
            @include background-image-hdpi("icon-aviateur.png", "icon-aviateur@2x.png");
            padding-left: 45px;
          }
          &.perfecto {
            @include background-image-hdpi("icon-perfecto.png", "icon-perfecto@2x.png");
            padding-left: 45px;
          }
          &.perfecto-femme {
            @include background-image-hdpi("icon-perfecto-femme.png", "icon-perfecto-femme@2x.png");
            padding-left: 45px;
          }
          &.bombardier {
            @include background-image-hdpi("icon-bombardier.png", "icon-bombardier@2x.png");
            padding-left: 45px;
          }
          &.bombardier-femme {
            @include background-image-hdpi("icon-bombardier-femme.png", "icon-bombardier-femme@2x.png");
            padding-left: 45px;
          }
          &.teddy {
            @include background-image-hdpi("icon-teddy.png", "icon-teddy@2x.png");
            padding-left: 45px;
          }
          &.doudoune {
            @include background-image-hdpi("icon-doudoune.png", "icon-doudoune@2x.png");
            padding-left: 45px;
          }
          &.doudoune-femme {
            @include background-image-hdpi("icon-doudoune-femme.png", "icon-doudoune-femme@2x.png");
            padding-left: 45px;
          }
          &.fourrure-femme {
            @include background-image-hdpi("icon-fourrure-femme.png", "icon-fourrure-femme@2x.png");
            padding-left: 45px;
          }
          &.gilet {
            @include background-image-hdpi("icon-gilet.png", "icon-gilet@2x.png");
            padding-left: 45px;
            background-position: 6px 50%;
          }
          &.capuche {
            @include background-image-hdpi("icon-capuche.png", "icon-capuche@2x.png");
            padding-left: 45px;
          }
          &.capuche-femme {
            @include background-image-hdpi("icon-capuche-femme.png", "icon-capuche-femme@2x.png");
            padding-left: 45px;
          }
          &.col-motard {
            @include background-image-hdpi("icon-col-motard.png", "icon-col-motard@2x.png");
            padding-left: 45px;
          }
          &.col-chemise {
            @include background-image-hdpi("icon-col-chemise.png", "icon-col-chemise@2x.png");
            padding-left: 45px;
          }
          &.col-fourrure {
            @include background-image-hdpi("icon-col-fourrure.png", "icon-col-fourrure@2x.png");
            padding-left: 45px;
          }
          &.mi-longues {
            @include background-image-hdpi("icon-mi-longues.png", "icon-mi-longues@2x.png");
            padding-left: 45px;
          }
          &.mi-longues-femme {
            @include background-image-hdpi("icon-mi-longues-femme.png", "icon-mi-longues-femme@2x.png");
            padding-left: 45px;
          }
          &.manteaux {
            @include background-image-hdpi("icon-manteaux.png", "icon-manteaux@2x.png");
            padding-left: 45px;
          }
          &.manteaux-femme {
            @include background-image-hdpi("icon-manteaux-femme.png", "icon-manteaux-femme@2x.png");
            padding-left: 45px;
          }
          &.blazers {
            @include background-image-hdpi("icon-blazers.png", "icon-blazers@2x.png");
            padding-left: 45px;
          }
          &.blazers-femme {
            @include background-image-hdpi("icon-blazers-femme.png", "icon-blazers-femme@2x.png");
            padding-left: 45px;
          }
          &:hover {
            color: #3e8893;
          }
        }
        .background-image {
          &.background-image-vestes {
            background-image: url(../images/homme-veste.jpg);
          }
          &.background-image-vestes-femme {
            background-image: url(../images/femme-veste.jpg);
          }
          &.background-image-chaussures {
            background-image: url(http://placehold.it/1000x300);
          }
        }
      }
      .links {
        background: #f2f2f2;
        padding: 20px 0;
        text-align: center;
        a {
          color: #302e31;
          border: 1px solid #302e31;
          padding: 10px 38px !important;
          margin: 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.desktop-menu .shops {
  li.dropdown {
    position: inherit;
    > a {
      color: #171717;
    }
    .sub-menu {
      right: 15px;
      background-color: #000;
      width: 315px !important;
      margin-left: 0;
      ul {
        padding: 20px 25px;
        li {
          &:not(:first-child) {
            margin-top: 15px;
          }
          a {
            display: block;
            text-transform: none;
            border: 1px solid #fff;
            padding: 5px 0 !important;
            color: #fff;
            text-align: center;
            &:hover {
              background-color: #3e8893 !important;
              color: #fff;
            }
            span {
              line-height: 16px;
              display: block;
              &.shop-label {
                text-transform: uppercase;
                font-size: 14px;
              }
              &.shop-address {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.shops-link {
  font-size: 16px;
  text-transform: uppercase;
  color: #727272;
  line-height: 40px;
  > a {
    @include background-image-hdpi("icon-store.png", "icon-store@2x.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 20px !important;
    margin-right: 10px;
  }
  &:hover {
    color: #3e8893;
  }
  i {
    color: #3e8893;
  }
}

#main-overlay {
  display: none;
  position:absolute;
  z-index:9999;
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
}

/*************************
******* Body ******
**************************/
#swiper {
  margin-bottom: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

article {
  position: relative;
}

article header {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: #fff;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */

  h1, h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
  }
  h1 {
    font-weight: 700;
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
    font-weight: 400;
  }
  .discover {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
#swiper article img {
  width: 100%;
  max-width: 100%;
}

.item {
  position: relative;
  .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

#articles {
  margin-bottom: 20px;
  .col-sm-6:first-child {
    padding-right: 0;
  }
  article {
    min-height: 270px;
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 14px;
    }
  }
}

#brands {
  padding: 20px 0;
  background-color: #f2f2f2;
  min-height: 140px;
  text-align: center;
  ul {
    padding-left: 0;
    li {
      display: inline-block;
      margin: 10px 10px;
      a img {
      }
    }
  }
  a.more-brands {
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      background-color: rgba(0, 0, 0, 0);
      background: rgba(0, 0, 0, 0);
      color: #302e31;
      text-transform: uppercase;
      border: 1px solid #000;
      border-radius: 0;
      vertical-align: middle;
      padding: 5px 0;
      text-align: center;
    }
}

.section-title {
  margin-bottom: 20px;
  h1 {
    font-size: 28px;
    font-weight: 700;
    color: #302e31;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #302e31;
    text-align: center;
  }
}

#featured-products, #promotions {
  [class^="col-"] {
    margin-bottom: 10px;
  }
  .swiper-products-pagination {
    text-align:center;
    .swiper-pagination-bullet {
      background: #fff;
      border: 1px solid #3e8893;
      margin-right: 2px;
    }
    .swiper-pagination-bullet-active {
      background: #3e8893;
      opacity: 1;
    }
  }
}

/** Product **/
.product {
  text-align: center;
  .wrapper-image {
    position: relative;
    img {
      max-width: 230px;
    }
    .overlay {
      position:absolute;
      bottom:0;
      border: 1px solid #000;
      background-color:rgba(0,0,0,0.50);
      width:100%;
      min-height: 300px;
      display: none;
      z-index: 999;
      span {
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      ul {
        li {
          display: inline-block;
          background-color: #fff;
          font-weight: 700;
          color: #000;
          margin-bottom: 5px;
          margin-right: 5px;
          text-transform: uppercase;
          padding: 10px 20px;
        }
      }
      .actions {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #000;
        padding: 10px 0;
        a {
          color: #302e31;
          text-transform: uppercase;
          font-weight: 700;
        }
      }

    }
  }

  .brand {
    display: inline-block;
    margin-top: 10px;
    img {
      max-width: 100%;
    }
  }
  .price {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    &.crossed {
      color: #e13250;
      span {
        font-size: 14px;
        text-decoration: line-through;
        color: #949494;
        padding-right: 5px;
      }
    }
  }
  span.tag {
    display: inline-block;
    color: #221a32;
    border: 1px solid #e1e1e1;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    margin: 2px;
    &.offer-percentage {
      border: 1px solid #e13250;
      color: #e13250;
    }
    &.offer-label {
      border: 1px solid #e13250;
      color: #fff;
      background-color: #e13250;
    }
  }
  .favorite {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 5px;
    @include background-image-hdpi("icon-favorite.png", "icon-favorite.png");
    background-repeat: no-repeat;
    &:hover {
      @include background-image-hdpi("icon-favorite-hover.png", "icon-favorite-hover.png");
    }
  }
}

.more-articles {
  a {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: #302e31;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    vertical-align: middle;
    margin-top: 150px;
    padding: 5px 30px;
  }
}

#news {
  background-color: #f2f2f2;
  padding: 20px 0;
  article {
    background-color: #333333;
    min-height: 267px;
    header {
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 16px;
      }
      .discover {
        margin-bottom: 20px;
      }
    }
    &.newsweek {
      header {
        background: none;
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 20px;
        }
        hr {
          width: 10%;
        }
        p {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

/*************************
*******Footer CSS******
**************************/

#footer {
  background: #efefef;
}

#contact {
  div.card {
    min-height: 160px;
    width: 32.333333%;
    &:not(:last-child)
    {
      margin-right: 15px;
    }
  }
padding: 20px 0;
h1 {
  margin-top: 15px;
}
i{
  vertical-align: middle;
}
#newsletter {
  background-color: #3e8893;
  color: #fff;
  h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    i.mail {
      display: inline-block;
      width: 26px;
      height: 18px;
      @include background-image-hdpi("icon-mail.png", "icon-mail@2x.png");
      margin-right: 10px;
    }
  }
  form {
    border-bottom: 1px solid #fff;
    height: 30px;
  }
  input[type=email] {
    color: #fff;
    width: 100%;
    background: none;
    border-radius: 0;
    border: none;
    margin: 0;
    @include box-shadow(none);
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 12px;
    @include input-placeholder {
      color: #fff;
      font-style: italic;
    }
  }
  button {
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
  }
  .col-sm-2 {
    padding-left: 0;
  }
}
#customer-support {
  background-color: #fff;
  h3 {
    background-repeat: no-repeat;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    i.adviser {
      display: inline-block;
      width: 21px;
      height: 24px;
      @include background-image-hdpi("icon-adviser.png", "icon-adviser@2x.png");
      margin-right: 10px;
    }
  }
  p {
    color: #585656;
    span.phone {
      font-weight: 700;
      color: #3e8893;
    }
  }
}
#advice {
  background-color: #fff;
  h3 {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    margin: 0;
    a {
      color: #585656;
    }
  }

}
}

#seo {
  border-top: 1px solid #fff;
  margin-bottom: 20px;
}

.single-widget h3 {
  color: #3e8893;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget ul li a{
  line-height: 20px;
  color: #585656;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}

.single-widget ul li a:hover{
  background:none;
  color:#3e8893;
}

.follow-us {
  [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  a {
    display: block;
    color: #585656;
    margin-bottom: 10px;
  }
}
.social {
  li {
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
  }
  a {
    font-size: 20px;
    background-color: #3e8893 !important;
    color: #fff !important;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    &:hover {
      background-color: #333333 !important;
    }
    i {
      line-height: 30px;
    }
  }
}

#services-list {
  padding: 0;
  margin: 20px 0 0 0;
  font-size: 28px;
  text-transform: uppercase;
  li {
    &:first-child {
      border-top: 1px solid #fff;
    }
    border-bottom: 1px solid #fff;
    padding: 20px;
    a {
      color: #585656;
    }
  }
}

#copyright {
  background: #000000;
  padding: 10px 0;
  color: #fff;
  span {
    margin-left: 20px;
  }
}

#services {
  background-color: #f2f2f2;
  padding: 20px;
  ul {
    padding-left: 0;
  }
  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #585656;
    text-transform: uppercase;
    padding-top: 60px;
    &.delivery {
      @include background-image-hdpi("icon-delivery-black.png", "icon-delivery-black@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.moneyback {
      @include background-image-hdpi("icon-money-back.png", "icon-money-back@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.payment-facility {
      @include background-image-hdpi("icon-payment-facility.png", "icon-payment-facility@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.secure-payment {
      @include background-image-hdpi("icon-secure-black.png", "icon-secure-black@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    &.satisfy {
      @include background-image-hdpi("icon-satisfy-black.png", "icon-satisfy-black@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
    }
    span:first-child {
      color: #3e8893;
    }
    span:last-child {
      text-transform: none;
      font-weight: 400;
      font-style: italic;
    }
  }
}

#seo {
  font-size: 12px;
  color: #8c8b8b;
  padding-top: 20px;
  p {
    text-align: center;
  }
}

// No touch css
.no-touch {
  .product {
    .wrapper-image {
      &:hover {
        .overlay {
          display: block;
          -webkit-animation: fadeInUp 400ms;
          -moz-animation: fadeInUp 400ms;
          -ms-animation: fadeInUp 400ms;
          -o-animation: fadeInUp 400ms;
          animation: fadeInUp 400ms;
        }
      }
    }
  }
}

// Gris 5 columns
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

// Effects
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

// Imports
@import "responsive";
@import "nav";






