@import "compass";
@import "_compass-hdpi";

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
body {
    overflow-x: hidden;
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.buttons {
    margin-bottom: 30px;
    text-align: center;
}
.buttons button {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px 30px;
    color: #fff;
    background-color: #67b5d1;
}
.buttons button:hover,
.buttons button.active {
    background-color: #3184a1
}
.buttons button:focus {
    outline: none
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #fff;
    overflow: scroll;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3) inset;
    > ul > li > a {
        padding-left: 20px !important;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            position: relative;
            &.product-category {
                background: #000;
                > ul > li {
                    padding: 10px 0;
                }
                a {
                    position: relative;
                    color: #fff;
                    &.see-all {
                        border: 2px solid #fff;
                        padding: 5px 20px;
                        text-transform: uppercase;
                        margin: 20px 15px 20px 0px;
                        text-align: center;
                    }
                }
            }
            ul {
                display: none;
                margin-left: 40px;
                li ul li a {
                    padding-left: 5px;
                }
                li ul li ul
                {
                    margin-left: 0;
                    li a {
                        text-transform: none;
                        padding-left: 5px;
                    }
                }
            }
            &.dropdown {
                &.open {
                    > a {
                        &:after {
                            content: "\f0d8";
                        }
                    }
                }
                > a {
                    &:after {
                        content: "\f0d7";
                        font-family: FontAwesome;
                        position: absolute;
                        right: 20px;
                        font-size: 12px;
                    }
                }
            }
        }
        li.searchbox  {
            padding-left: 50px;
            &:before {
                content: "\f002";
                font-family: FontAwesome;
                position: absolute;
                top: 10px;
                left: 30px;
                font-size: 24px;
            }
            input {
                width: 100%;
                background: rgba(0,0,0,0);
                border: none;
                color: #585656;
                font-family: 'Lato';
                font-size: 16px;
                padding: 16px;
                outline: none;
                background-repeat: no-repeat;
                background-position: 20px;
                text-decoration: italic;

                @include input-placeholder {
                  color: #585656;
                  font-style: italic;
                  font-weight: 300;
              }
          }
      }
      li a {
        font-weight: 300;
        font-size: 16px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 0;
        &.store {
            margin-left: 20px;
            background-repeat: no-repeat;
            background-position: 0 50%;
            @include background-image-hdpi("icon-map-pin.png", "icon-map-pin@2x.png");
        }
        &.blousons {
            padding-left: 45px;
            background-repeat: no-repeat;
            background-position: 0 50%;
            @include background-image-hdpi("icon-blousons.png", "icon-blousons@2x.png");
        }
        &.vestes {
            padding-left: 45px;
            background-repeat: no-repeat;
            background-position: 0 50%;
            @include background-image-hdpi("icon-vestes.png", "icon-vestes@2x.png");
        }
        &.pantalons {
            padding-left: 45px;
            background-repeat: no-repeat;
            background-position: 10px 50%;
            @include background-image-hdpi("icon-pantalons.png", "icon-pantalons@2x.png");
        }
        &.chaussures {
            padding-left: 55px;
            background-repeat: no-repeat;
            background-position: 0 50%;
            @include background-image-hdpi("icon-chaussures.png", "icon-chaussures@2x.png");
        }
        &.accessoires {
            padding-left: 45px;
            background-repeat: no-repeat;
            background-position: 0 50%;
            @include background-image-hdpi("icon-accessoires.png", "icon-accessoires@2x.png");
        }
        &.textiles {
            padding-left: 45px;
            background-repeat: no-repeat;
            background-position: 0 50%;
            @include background-image-hdpi("icon-textiles.png", "icon-textiles@2x.png");
        }
        &.aviateur {
          padding-left: 45px;
          @include background-image-hdpi("icon-aviateur-light.png", "icon-aviateur-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.perfecto {
          padding-left: 45px;
          @include background-image-hdpi("icon-perfecto-light.png", "icon-perfecto-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.bombardier {
          padding-left: 45px;
          @include background-image-hdpi("icon-bombardier-light.png", "icon-bombardier-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.teddy {
          padding-left: 45px;
          @include background-image-hdpi("icon-teddy-light.png", "icon-teddy-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.doudoune {
          padding-left: 45px;
          @include background-image-hdpi("icon-doudoune-light.png", "icon-doudoune-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.gilet {
          padding-left: 45px;
          @include background-image-hdpi("icon-gilet-light.png", "icon-gilet-light@2x.png");
          background-repeat: no-repeat;
          background-position: 6px 50%;
      }
      &.capuche {
          padding-left: 45px;
          @include background-image-hdpi("icon-capuche-light.png", "icon-capuche-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.col-motard {
          padding-left: 45px;
          @include background-image-hdpi("icon-col-motard-light.png", "icon-col-motard-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.col-chemise {
          padding-left: 45px;
          @include background-image-hdpi("icon-col-chemise-light.png", "icon-col-chemise-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      &.col-fourrure {
          padding-left: 45px;
          @include background-image-hdpi("icon-col-fourrure-light.png", "icon-col-fourrure-light@2x.png");
          background-repeat: no-repeat;
          background-position: 0 50%;
      }
      // &.fourrure {
      //     padding-left: 45px;
      //     @include background-image-hdpi("icon-fourrure-light.png", "icon-fourrure-light@2x.png");
      //     background-repeat: no-repeat;
      //     background-position: 0 50%;
      // }
      // &.mi-longues{
      //     padding-left: 45px;
      //     @include background-image-hdpi("icon-mi-longues-light.png", "icon-mi-longues-light@2x.png");
      //     background-repeat: no-repeat;
      //     background-position: 0 50%;
      // }
      // &.manteaux{
      //     padding-left: 45px;
      //     @include background-image-hdpi("icon-manteaux-light.png", "icon-manteaux-light@2x.png");
      //     background-repeat: no-repeat;
      //     background-position: 0 50%;
      // }
      // &.blazers{
      //     padding-left: 45px;
      //     @include background-image-hdpi("icon-blazers-light.png", "icon-blazers-light@2x.png");
      //     background-repeat: no-repeat;
      //     background-position: 0 50%;
      // }
  }
}
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}
/* slide menu left and right, push menu left and right */
nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 320px;
    height: 100%;
}
nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
}
nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none
}
nav.slide-menu-left a,
nav.slide-menu-right a,
nav.push-menu-left a,
nav.push-menu-right a {
    display: block;
    // padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu,
nav.slide-menu-right button.close-menu,
nav.push-menu-left button.close-menu,
nav.push-menu-right button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.slide-menu-left,
nav.push-menu-left {
    /*left: -300px*/
    -webkit-transform: translate3d(-100%, 0, 0);
}
nav.slide-menu-right,
nav.push-menu-right {
    right: -300px
}
body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
    -webkit-transform: translate3d(0, 0, 0);
    /*left: 0*/
}
body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
    right: 0
}
body.pml-open #wrapper {
    /*left: 300px*/
    -webkit-transform: translate3d(320px, 0, 0);
}
body.pmr-open #wrapper {
    left: -300px;
    overflow: hidden;
}
/* slide menu top and bottom */
nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-bottom {
    left: 0;
    width: 100%;
    height: 100px;
}
nav.slide-menu-top ul,
nav.slide-menu-bottom ul,
nav.push-menu-top ul,
nav.push-menu-bottom ul {
    text-align: center;
    padding: 25px 0 0 0;
}
nav.slide-menu-top li,
nav.slide-menu-bottom li,
nav.push-menu-top li,
nav.push-menu-bottom li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
nav.slide-menu-top a,
nav.slide-menu-bottom a,
nav.push-menu-top a,
nav.push-menu-bottom a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
}
nav.slide-menu-top button.close-menu,
nav.slide-menu-bottom button.close-menu,
nav.push-menu-top button.close-menu,
nav.push-menu-bottom button.close-menu {
    display: block;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}
nav.slide-menu-top,
nav.push-menu-top {
    top: -100px
}
nav.slide-menu-bottom,
nav.push-menu-bottom {
    bottom: -100px
}
body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top {
    top: 0
}
body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom {
    bottom: 0
}
body.pmt-open #wrapper {
    top: 100px
}
body.pmb-open #wrapper {
    top: -100px
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) {
	.buttons br {
        display: none
    }
    .buttons button {
        padding: 10px 20px
    }
}
@media all and (max-width: 660px) {
	/* slide menu top and bottom */
	nav.slide-menu-top ul,
	nav.slide-menu-bottom ul,
	nav.push-menu-top ul,
	nav.push-menu-bottom ul {
        padding: 35px 0 0 0
    }
    nav.slide-menu-top a,
    nav.slide-menu-bottom a,
    nav.push-menu-top a,
    nav.push-menu-bottom a {
        line-height: 30px;
        padding: 0 2px;
        font-size: 12px;
    }
    nav.slide-menu-top button.close-menu,
    nav.slide-menu-bottom button.close-menu,
    nav.push-menu-top button.close-menu,
    nav.push-menu-bottom button.close-menu {
        line-height: 30px;
        padding: 0 2px;
    }
}
@media all and (max-width: 330px) {
	nav.slide-menu-left,
	nav.slide-menu-right,
	nav.push-menu-left,
	nav.push-menu-right {
        top: 0;
        width: 100%;
    }
    nav.slide-menu-left,
    nav.push-menu-left {
        left: -100%
    }
    nav.slide-menu-right,
    nav.push-menu-right {
        right: -100%
    }
    body.sml-open nav.slide-menu-left,
    body.pml-open nav.push-menu-left {
        left: 0 !important;
    }
    body.smr-open nav.slide-menu-right,
    body.pmr-open nav.push-menu-right {
        right: 0
    }
    body.pml-open #wrapper {
        left: 100%
    }
    body.pmr-open #wrapper {
        left: -100%
    }
}

.pml-open {
    .navbar-toggle {
        transition: 300ms ease-in-out;
        position: relative;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}