@import "compass";
@import "_compass-hdpi";

#wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

/* slide menu left and right, push menu left and right */
nav.push-menu-left {
  top: 0;
  width: 320px;
  height: 100%;
}
nav.push-menu-left {
  -webkit-transform: translate3d(-100%, 0, 0);
}

body.pml-open nav.push-menu-left {
  -webkit-transform: translate3d(0, 0, 0);
}

body.pml-open #wrapper {
  -webkit-transform: translate3d(320px, 0, 0);
}

nav.mobile-menu {
  position: fixed;
  z-index: 20;
  background-color: #fff;
  overflow: scroll;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3) inset;
  a {
    display: block;
    text-transform: uppercase;
    color: #000;
  }
  .search-box {
    padding-left: 50px;
    input {
      width: 100%;
      background: rgba(0,0,0,0);
      border: none;
      color: #585656;
      font-family: 'Lato';
      padding: 17px 0;
      font-size: 16px;
      outline: none;
      background-repeat: no-repeat;
      background-position: 20px;
      text-decoration: italic;
      @include input-placeholder {
        color: #585656;
        font-style: italic;
        font-weight: 300;
      }
    }
  }
  li.dropdown {
    &.open {
      > a {
        &:after {
          content: "\f0d8";
        }
      }
    }
    > a {
      &:after {
        content: "\f0d7";
        font-family: FontAwesome;
        position: absolute;
        right: 20px;
        font-size: 12px;
      }
    }
  }
  ul.level-1 {
    padding-left: 0;
    > li {
      line-height: 40px;
      padding-left: 20px;
    }
    li.product-category {
      background: #000;
      a {
        color: #fff;
      }
    }
  }
  ul.level-2 {
    display: none;
    padding-left: 20px;
    .icon {
      line-height: 45px;
      padding-left: 55px;
    }
  }
  ul.level-3 {
    display: none;
    padding-left: 55px;
  }
  ul.level-4 {
    display: none;
    padding-left: 0;
    a {
      text-transform: none;
      &.see-all {
        border: 2px solid #fff;
        padding: 0 20px;
        text-transform: uppercase;
        margin: 20px 15px 20px 0px;
        text-align: center;
      }
    }
  }

  .icon {
    &.blousons {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-blousons.png", "icon-blousons@2x.png");
    }
    &.blousons-femme {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-blousons-femme-light.png", "icon-blousons-femme-light@2x.png");
    }
    &.vestes {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-vestes.png", "icon-vestes@2x.png");
    }
    &.vestes-femme {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-vestes-femme-light.png", "icon-vestes-femme-light@2x.png");
    }
    &.pantalons {
      background-repeat: no-repeat;
      background-position: 10px 50%;
      @include background-image-hdpi("icon-pantalons.png", "icon-pantalons@2x.png");
    }
    &.chaussures {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-chaussures.png", "icon-chaussures@2x.png");
    }
    &.accessoires {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-accessoires.png", "icon-accessoires@2x.png");
    }
    &.textiles {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-textiles.png", "icon-textiles@2x.png");
    }
    &.textiles-femme {
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include background-image-hdpi("icon-textiles-femme-light.png", "icon-textiles-femme-light@2x.png");
    }
    &.aviateur {
      @include background-image-hdpi("icon-aviateur-light.png", "icon-aviateur-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.perfecto {
      @include background-image-hdpi("icon-perfecto-light.png", "icon-perfecto-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.perfecto-femme {
      @include background-image-hdpi("icon-perfecto-femme-light.png", "icon-perfecto-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.bombardier {
      @include background-image-hdpi("icon-bombardier-light.png", "icon-bombardier-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.bombardier-femme {
      @include background-image-hdpi("icon-bombardier-femme-light.png", "icon-bombardier-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.teddy {
      @include background-image-hdpi("icon-teddy-light.png", "icon-teddy-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.doudoune {
      @include background-image-hdpi("icon-doudoune-light.png", "icon-doudoune-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.doudoune-femme {
      @include background-image-hdpi("icon-doudoune-femme-light.png", "icon-doudoune-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.gilet {
      @include background-image-hdpi("icon-gilet-light.png", "icon-gilet-light@2x.png");
      background-repeat: no-repeat;
      background-position: 6px 50%;
    }
    &.capuche {
      @include background-image-hdpi("icon-capuche-light.png", "icon-capuche-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.capuche-femme {
      @include background-image-hdpi("icon-capuche-femme-light.png", "icon-capuche-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.col-motard {
      @include background-image-hdpi("icon-col-motard-light.png", "icon-col-motard-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.col-motard-femme {
      @include background-image-hdpi("icon-col-motard-femme-light.png", "icon-col-motard-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.col-chemise {
      @include background-image-hdpi("icon-col-chemise-light.png", "icon-col-chemise-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.col-fourrure {
      @include background-image-hdpi("icon-col-fourrure-light.png", "icon-col-fourrure-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.fourrure-femme {
      @include background-image-hdpi("icon-fourrure-femme-light.png", "icon-fourrure-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.mi-longues{
      @include background-image-hdpi("icon-mi-longues-light.png", "icon-mi-longues-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.mi-longues-femme{
      @include background-image-hdpi("icon-mi-longues-femme-light.png", "icon-mi-longues-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.manteaux{
      @include background-image-hdpi("icon-manteaux-light.png", "icon-manteaux-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.manteaux-femme{
      @include background-image-hdpi("icon-manteaux-femme-light.png", "icon-manteaux-femme-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.blazers{
      @include background-image-hdpi("icon-blazers-light.png", "icon-blazers-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &.blazers-femme{
      @include background-image-hdpi("icon-blazers-femme-light.png", "icon-blazers-light@2x.png");
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
  }



}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media only screen and (max-width: 240px) and (orientation : portrait) {
  /* PORTRAIT:
  LG Viewty KU990
  Nokia 700
  Nokia 2700
  Nokia N95
  Samsung Galaxy S3 Mini
  Nokia 300*/
  body.pml-open #wrapper {
    -webkit-transform: translate3d(200px, 0, 0);
  }
  nav.push-menu-left {
    top: 0;
    width: 200px;
    height: 100%;
  }

  nav.mobile-menu {
    .icon {
      padding-left: 40px !important;
      background-size: 20% !important;
      &.pantalons {
        background-size: 10% !important;
      }
    }
    ul.level-3 {
      padding-left: 10px;
    }
  }
}