@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);

// Cuir City Font Icons
@font-face {
  font-family: "cuir-city";
  src:url("../fonts/cuir-city.eot");
  src:url("../fonts/cuir-city.eot?#iefix") format("embedded-opentype"),
    url("../fonts/cuir-city.woff") format("woff"),
    url("../fonts/cuir-city.ttf") format("truetype"),
    url("../fonts/cuir-city.svg#cuir-city") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cuir-city" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cuir-city" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accessoires:before {
  content: "a";
}
.icon-arrow-left:before {
  content: "b";
}
.icon-arrow-right:before {
  content: "c";
}
.icon-arrow-top:before {
  content: "d";
}
.icon-blousons-avec-capuche-femme:before {
  content: "e";
}
.icon-blousons-avec-capuche-homme:before {
  content: "f";
}
.icon-blousons-aviateur-homme:before {
  content: "g";
}
.icon-blousons-bombardier-femme:before {
  content: "h";
}
.icon-blousons-bombardier-homme:before {
  content: "i";
}
.icon-blousons-doudoune-femme:before {
  content: "j";
}
.icon-blousons-doudoune-homme:before {
  content: "k";
}
.icon-blousons-femme:before {
  content: "l";
}
.icon-blousons-fourrure-femme:before {
  content: "m";
}
.icon-blousons-gilet-homme:before {
  content: "n";
}
.icon-blousons-homme:before {
  content: "o";
}
.icon-blousons-perfecto-femme:before {
  content: "p";
}
.icon-blousons-perfecto-homme:before {
  content: "q";
}
.icon-blousons-teddy-homme:before {
  content: "r";
}
.icon-cart:before {
  content: "s";
}
.icon-chaussures:before {
  content: "t";
}
.icon-col-chemise:before {
  content: "u";
}
.icon-col-fourrure:before {
  content: "v";
}
.icon-col-motard:before {
  content: "w";
}
.icon-cross:before {
  content: "x";
}
.icon-delivery:before {
  content: "y";
}
.icon-facebook:before {
  content: "z";
}
.icon-favorite:before {
  content: "A";
}
.icon-googleplus:before {
  content: "B";
}
.icon-heart:before {
  content: "C";
}
.icon-instagram:before {
  content: "D";
}
.icon-leather:before {
  content: "E";
}
.icon-mail:before {
  content: "F";
}
.icon-padlock:before {
  content: "G";
}
.icon-pantalons-femme:before {
  content: "H";
}
.icon-map-pin:before {
  content: "I";
}
.icon-pantalons-homme:before {
  content: "J";
}
.icon-phone:before {
  content: "K";
}
.icon-search:before {
  content: "L";
}
.icon-star:before {
  content: "M";
}
.icon-textiles-femme:before {
  content: "N";
}
.icon-textiles-homme:before {
  content: "O";
}
.icon-twitter:before {
  content: "P";
}
.icon-vestes-blazers-femme:before {
  content: "Q";
}
.icon-vestes-blazers-homme:before {
  content: "R";
}
.icon-vestes-femme:before {
  content: "S";
}
.icon-vestes-homme:before {
  content: "T";
}
.icon-vestes-manteaux-femme:before {
  content: "U";
}
.icon-vestes-manteaux-homme:before {
  content: "V";
}
.icon-vestes-mi-longues-femme:before {
  content: "W";
}
.icon-vestes-mi-longues-homme:before {
  content: "X";
}

.icon-hotline:before {
  content: "Y";
}