// Desktop menu
.desktop-menu {
  line-height: 40px;
  .sub-menu {
    display: none;
    position: absolute;
    z-index: 999999;
  }
}

.desktop-menu .categories {
  padding-left: 0;
  margin: 0;
  > li {
    display: inline-block;
    &.dropdown {
      position: inherit;
    }
  }
}

.desktop-menu .categories li.dropdown {
  &.active {
    > a {
      background: rgba(0,0,0,0);
      color: #3e8893;
    }
  }
  > a {
    color: #000;
    text-transform: uppercase;
    @include font-size(1.6);
    padding-left: 10px;
    padding-right: 10px;
  }

  .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    overflow: hidden;
    margin-left: 16px;
    background: #fff;
    @include mq($from:tablet,$until:wide) {
      > ul > li > a {
            font-size: 12px !important;
            i {
                width: 100% !important;
            }
        }
    }
    text-align: center;
    > ul {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      background: #000;
      > li {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        > a {
          font-size: 14px;
          color: #fff;
          text-transform: uppercase;
          display: block;
          width: 100%;
          i {
            display: inline-block;
            width: 60px;
            font-size: 3em;
            vertical-align: -33%;
          }
          &:hover {
            color: #3e8893;
          }
        }
      }
    }
    .content {
      display: none;
      &.active {
        display: block;
      }
      &.default {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
        p {
          font-size: 16px;
          text-transform: uppercase;
          &.up {
            font-size: 24px;
          }
          span {
            font-style: italic;
            text-transform: none;
          }
          a {
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            background-color: rgba(0, 0, 0, 0);
            background: rgba(0, 0, 0, 0);
            color: #302e31;
            text-transform: uppercase;
            border: 1px solid #e1e1e1;
            border-radius: 0;
            vertical-align: middle;
            padding: 10px 40px !important;
          }
        }
      }
      text-align: left;
      .columns {
        min-height: 300px;
        height: 300px;
        padding-left: 15px;
        overflow: hidden;
         [class^="col-"] {
            margin-bottom: -9999px;
            padding-bottom: 9999px;
         }
         .border {
          border-left: 1px solid #e1e1e1;
         }
        h2 {
          font-size: 14px;
          font-weight: 700;
          color: #3e8893;
          text-transform: uppercase;
          margin-bottom: 0;
        }
        ul {
          padding-left: 0;
          padding-top: 10px;
          li {
            line-height: 35px;
          }
        }
        ul li a {
          display: inline-block;
          color: #000;
          @include mq($until:desktop) {
            font-size: 13px;
            line-height: 16px;
          }
          i {
              display: inline-block;
              width: 40px;
              font-size: 2.5em;
              vertical-align: -25%;
            }
          &:hover {
            color: #3e8893;
          }
        }
        .background-image {
          height: 300px;
          background-position: center 0;
          &.background-image-vestes {
            background-image: url(../images/homme-veste.jpg);
          }
          &.background-image-vestes-femme {
            background-image: url(../images/femme-veste.jpg);
          }
          &.background-image-chaussures {
            background-image: url(http://placehold.it/1000x300);
          }
          &.background-image-pantalons {
            background-image: url(../images/background-pantalons.jpg);
          }
        }
      }
      .links {
        background: #f2f2f2;
        padding: 10px 0;
        text-align: center;
        a {
          font-size: 12px;
          color: #302e31;
          border: 1px solid #302e31;
          padding: 10px 38px !important;
          margin: 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.desktop-menu .shops {
  margin: 0;
  li.dropdown {
    position: inherit;
    > a {
      color: #171717;
    }
    .sub-menu {
      right: 15px;
      background-color: #000;
      width: 315px !important;
      margin-left: 0;
      ul {
        padding: 20px 25px;
        li {
          &:not(:first-child) {
            margin-top: 15px;
          }
          a {
            display: block;
            text-transform: none;
            border: 1px solid #fff;
            padding: 5px 0 !important;
            color: #fff;
            text-align: center;
            &:hover {
              background-color: #3e8893 !important;
              color: #fff;
            }
            span {
              line-height: 16px;
              display: block;
              &.shop-label {
                text-transform: uppercase;
                font-size: 14px;
              }
              &.shop-address {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.shops-link {
  font-size: 16px;
  text-transform: uppercase;
  color: #727272;
  > a {
    margin-right: 10px;
  }
  &:hover {
    color: #3e8893;
  }
  i {
    color: #3e8893;
    font-size: 1em;
    vertical-align: 0;
  }
}

// Home header top mobile
#header-top-mobile {
  padding-left: 15px !important;
  padding-right: 15px !important;
  .col-xs-2:first-child {
      padding-left: 0;
  }
  #logo-mobile {
      margin-top: 10px;
  }
  #shopping-bag {
      position: relative;
      a {
          position: absolute;
          color: #fff;
          i {
              font-size: 2em;
          }
      }
      span {
          position: absolute;
          background-color: #3e8893;
          top: 10px;
          left: 5px;
          border-radius: 10px;
          color: #fff;
          width: 20px;
          height: 20px;
          text-align: center;
          font-weight: 700;
      }
  }
}

.navbar-toggle {
  float: none;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

#wrapper {
  position: relative;
  z-index: 10;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

// Slide menu left and right, push menu left and right
nav.push-menu-left {
  top: 0;
  width: calc(100% - 45px);
  height: 100%;
}
nav.push-menu-left {
  -webkit-transform: translate3d(-100%, 0, 0);
}

body.pml-open nav.push-menu-left {
  -webkit-transform: translate3d(0, 0, 0);
}

body.pml-open #wrapper {
  -webkit-transform: translate3d(calc(100% - 45px), 0, 0);
}

nav.mobile-menu {
  position: fixed;
  z-index: 20;
  background-color: #fff;
  overflow: scroll;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.3) inset;
  a {
    display: block;
    text-transform: uppercase;
    color: #000;
  }

  [class^="icon"] {
    display: inline-block;
    width: 50px;
    font-size: 2.5em;
    vertical-align: -25%;
  }

  .see-all {
    border: 2px solid #000;
    padding: 0 20px;
    text-transform: uppercase;
    margin: 20px 15px 20px 0px;
    text-align: center;
  }

  .search-box {
    padding-left: 50px;
    text-decoration: italic;
    @include background-image-hdpi("icon-search.png", "icon-search@2x.png");
    background-repeat: no-repeat;
    background-position: 20px 50%;
    input {
      width: 100%;
      background: rgba(0,0,0,0);
      border: none;
      color: #585656;
      font-family: 'Lato';
      padding: 17px 0;
      font-size: 16px;
      outline: none;
      background-repeat: no-repeat;
      background-position: 20px;
      @include input-placeholder {
        color: #585656;
        font-style: italic;
        font-weight: 300;
      }
    }
  }
  li.dropdown {
    &.open {
      > a {
        &:after {
          content: "\f0d8";
        }
      }
    }
    > a {
      &:after {
        content: "\f0d7";
        font-family: FontAwesome;
        position: absolute;
        right: 20px;
        font-size: 12px;
      }
    }
  }
  ul.level-1 {
    padding-left: 0;
    > li {
      line-height: 40px;
      padding-left: 20px;
    }
    li.product-category {
      background: #000;
      a {
        color: #fff;
      }
    }
    .store-link {
      @include background-image-hdpi("icon-map-pin.png", "icon-map-pin@2x.png");
      background-repeat: no-repeat;
      background-position: 0% 50%;
      padding-left: 20px;
    }
  }
  ul.level-2 {
    display: none;
    padding-left: 20px;
    .icon {
      line-height: 45px;
      padding-left: 55px;
    }
  }
  ul.level-3 {
    display: none;
    padding-left: 55px;
  }
  ul.level-4 {
    display: none;
    padding-left: 0;
    a {
      text-transform: none;
      &.see-all {
        border: 2px solid #fff;
      }
    }
  }
}

@media only screen and (max-width: 240px) and (orientation : portrait) {
/* PORTRAIT:
LG Viewty KU990
Nokia 700
Nokia 2700
Nokia N95
Samsung Galaxy S3 Mini
Nokia 300*/
  nav.mobile-menu .product-category {
    a {
      font-size: 12px;
      i {
      width: 35px;
      }
    }
  }
  nav.mobile-menu ul.level-3 {
    padding-left: 25px;
  }
}